@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3500">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/catwalk.jpg" alt="register" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Register as a model below.
                    <br/>
                    <a class="btn btn-default" asp-area="Identity" asp-page="/Account/Register">
                        Register now
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/model3.jpg" alt="upcomingJobs" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    See your upcoming jobs.
                    <br/>
                    <a class="btn btn-default" asp-controller="Jobs" asp-action="UpcomingJobs">
                        Upcoming jobs
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/emptyCatwalk.jpg" alt="completedJobs" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    See your completed jobs.
                    <br />
                    <a class="btn btn-default" asp-controller="Jobs" asp-action="CompletedJobs">
                        Completed jobs
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/model2.jpg" alt="expenses" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    See your expenses.
                    <br />
                    <a class="btn btn-default" asp-controller="Expenses" asp-action="Index">
                        Your expenses
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>